development_graph_package/KPI_periodical_report.ipynb
anomaly_detection_engine.py
development_graph_package/.ipynb_checkpoints/KPI_periodical_report-checkpoint.ipynb
*.ipynb_checkpoints/*
*.ipynb_checkpoints